Language: Cpp
Standard: Latest

ColumnLimit: 80
IndentWidth: 4
LineEnding: LF
UseTab: Never

AccessModifierOffset: -4

AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: DontAlign

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false

BinPackArguments: false
BinPackParameters: false
# BinPackParameters: OnePerLine

BreakBeforeBinaryOperators: All
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakTemplateDeclarations: Yes

CompactNamespaces: false

ConstructorInitializerIndentWidth: 0

EmptyLineBeforeAccessModifier: Always

FixNamespaceComments: true

IndentAccessModifiers: false
IndentCaseLabels: false
IndentGotoLabels: false

InsertBraces: true # WARNING: May create incorrect code
InsertNewlineAtEOF: true

LambdaBodyIndentation: Signature

NamespaceIndentation: All

PackConstructorInitializers: Never

PenaltyReturnTypeOnItsOwnLine: 1000

PointerAlignment: Right
ReferenceAlignment: Right

QualifierAlignment: Custom # WARNING: May create invalid code
QualifierOrder: [friend, static, inline, constexpr, volatile, type, restrict, const]

# RemoveEmptyLinesInUnwrappedLines: true

SeparateDefinitionBlocks: Always

SortIncludes: CaseInsensitive
SortUsingDeclarations: Lexicographic

SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatementsExceptControlMacros
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpacesInAngles: false
SpacesInParens: Never
SpacesInSquareBrackets: false