/* Stylesheet for LuaConsole window elements. */
/* The user input line. */
.luaconsole entry
{
    color: white;
    caret-color: white;
    background-color: black;
    border-color: black;
    border-top-color: white;
}
/* The console output. */
.luaconsole textview.view text
{
    color: white;
    caret-color: white;
    background-color: black;
    border-color: black;
}